* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F4D04E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

article {
  padding: 24px;
  max-width: 384px;
  max-height: 522px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #000;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.9);
}

.img-card {
  border-radius: 20px;
  margin-bottom: 24px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-content > *{
  margin-bottom: 12px;
}

.card-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #6B6B6B;
  font-weight: 300;
}

.category {
  display: inline-block;
  font-size: 12px;
  background-color: #F4D04E;
  padding: 4px 12px;
  max-width: fit-content;
  border-radius: 4px;
}

.card-profile {
  display: flex;
  margin-top: 12px;
}

.card-profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

.card-profile p {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
